<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categorias</title>
    <link rel="stylesheet" href="./CSS/categorias.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <header>
      <div class="logo">LOGO</div>
      <div class="nav-links">
        <div onclick="location.href='./Dashboard.html'" style="cursor: pointer">
          Mi Dashboard
        </div>
        <div
          onclick="location.href='./Presupuestos.html'"
          style="cursor: pointer"
        >
          Mis Presupuestos
        </div>
        <div onclick="location.href='./Gastos.html'" style="cursor: pointer">
          Mis Gastos
        </div>
        <div
          onclick="location.href='./Categorias.html'"
          style="cursor: pointer"
        >
          Mis Categorías
        </div>
      </div>
      <div class="nav-links">
        <div class="user-avatar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            fill="#000000"
            viewBox="0 0 256 256"
          >
            <path
              d="M224,128a95.76,95.76,0,0,1-31.8,71.37A72,72,0,0,0,128,160a40,40,0,1,0-40-40,40,40,0,0,0,40,40,72,72,0,0,0-64.2,39.37h0A96,96,0,1,1,224,128Z"
              opacity="0.2"
            ></path>
            <path
              d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24ZM74.08,197.5a64,64,0,0,1,107.84,0,87.83,87.83,0,0,1-107.84,0ZM96,120a32,32,0,1,1,32,32A32,32,0,0,1,96,120Zm97.76,66.41a79.66,79.66,0,0,0-36.06-28.75,48,48,0,1,0-59.4,0,79.66,79.66,0,0,0-36.06,28.75,88,88,0,1,1,131.52,0Z"
            ></path>
          </svg>
        </div>
      </div>
    </header>

    <main>
      <div class="components-container">
        <div class="categorias-container">
          <div class="categorias-header">
            <h2>Tus Categorías</h2>
            <p>
              Edita y agrega categorías para que puedas organizar mejor tus
              gastos.
            </p>
            <button>Agregar Categoría</button>
          </div>
          <div class="categorias-cards-container">
            <div class="categoria-card">
              <div class="categoria-header">
                <h3 class="categoria-name">COMPRAS</h3>
                <div>
                  <span class="material-symbols-outlined"> edit </span>
                  <span class="material-symbols-outlined"> delete </span>
                </div>
              </div>
              <div class="subcategorias-container">
                <p class="subcategoria">Supermercado</p>
                <p class="subcategoria">Alimentación</p>
                <p class="subcategoria">Bazar</p>
                <p class="subcategoria">IKEA</p>
                <p class="subcategoria">Panadería</p>
              </div>
              <div>Ver todas</div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="./JS/dashboard.js" defer></script>
</html>
