<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="./CSS/profile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&"
    />
  </head>
  <body>
    <header>
      <div class="logo">LOGO</div>
      <div class="nav-links">
        <div onclick="location.href='./Dashboard.html'" style="cursor: pointer">
          Mi Dashboard
        </div>
        <div
          onclick="location.href='./Presupuestos.html'"
          style="cursor: pointer"
        >
          Mis Presupuestos
        </div>
        <div onclick="location.href='./Gastos.html'" style="cursor: pointer">
          Mis Gastos
        </div>
        <div
          onclick="location.href='./Categorias.html'"
          style="cursor: pointer"
        >
          Mis Categorías
        </div>
      </div>
      <div class="nav-links">
        <div class="user-avatar">
          <span class="material-symbols-outlined"> account_circle </span>
        </div>
      </div>
    </header>

    <main>
      <div class="components-container">
        <div class="user-profile">
          <h2>Mi Perfil</h2>
          <h3>Datos Personales</h3>
          <div class="user-info">
            <label
              >Nombre: <span id="nombre" class="user-data">Ejemplo</span></label
            >
            <label
              >Apellido:
              <span id="apellido" class="user-data">Ejemplo</span></label
            >
            <label
              >Email:
              <span id="email" class="user-data"></span>name@example.com</label
            >
            <label
              >Nickname:
              <span id="nickname" class="user-data">Afroken</span></label
            >
            <label>Contraseña: <button>Editar Contraseña</button></label>
          </div>
          <button class="edit-btn">Editar Datos</button>
          <button>Eliminar Cuenta</button>
          <button>Cerrar Sesión</button>
        </div>
      </div>
    </main>
  </body>
  <script src="./JS/dashboard.js" defer></script>
</html>
