<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/view/CSS/register.css" />
  </head>
  <body>
    <div class="signup-card">
      <div class="header">
        <h2 class="title">Crear una cuenta</h2>
        <p class="description">Completa el formulario y crea tu cuenta.</p>
      </div>

      <form class="form" action="" method="post">
        <div class="input-row">
          <div class="input-group">
            <input
              type="text"
              class="input"
              placeholder="Nombre"
              id="userNombre"
              name="nombre"
            />
          </div>
          <div class="input-group">
            <input
              type="text"
              class="input"
              placeholder="Apellido"
              id="userApellido"
              name="apellido"
            />
          </div>
        </div>

        <div class="input-group">
          <input
            type="text"
            class="input"
            placeholder="Nickname"
            id="userNickname"
            name="nickname"
          />
        </div>

        <div class="input-group">
          <input
            type="email"
            class="input"
            placeholder="Correo electrónico"
            id="userEmail"
            name="email"
          />
        </div>

        <div class="input-group">
          <input
            type="password"
            class="input"
            placeholder="Contraseña"
            id="userPassword"
            name="password"
          />
        </div>

        <div class="input-group">
          <input
            type="password"
            class="input"
            placeholder="Repetir contraseña"
            id="userConfirmPassword"
          />
        </div>

        <div class="checkbox-group">
          <input type="checkbox" class="checkbox" id="terms" />
          <label for="terms" class="checkbox-label">
            Acepto los <a href="#">Términos y Condiciones</a>
          </label>
          <div class="error-message" id="termsError"></div>
        </div>

        <button type="submit" class="submit-button">Registrarse</button>

        <a href="/login" class="login-link"
          >¿Ya tienes una cuenta? Inicia sesión</a
        >
      </form>
    </div>
  </body>

  <script src="/view/JS/register.js" defer></script>
</html>
