<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="./CSS/register.css" />
  </head>
  <body>
    <div class="signup-card">
      <div class="header">
        <h2 class="title">Crear una cuenta</h2>
        <p class="description">Completa el formulario y crea tu cuenta.</p>
      </div>

      <form class="form" action="" method="post">
        <div class="input-row">
          <div class="input-group">
            <input
              type="text"
              class="input"
              placeholder="Nombre"
              id="userNombre"
              name="nombre"
            />
          </div>
          <div class="input-group">
            <input
              type="text"
              class="input"
              placeholder="Apellido"
              id="userApellido"
              name="apellido"
            />
          </div>
        </div>

        <div class="input-group">
          <input
            type="text"
            class="input"
            placeholder="Nickname"
            id="userNickname"
            name="nickname"
          />
        </div>

        <div class="input-group">
          <input
            type="email"
            class="input"
            placeholder="Correo electrónico"
            id="userEmail"
            name="email"
          />
        </div>

        <div class="input-group">
          <input
            type="password"
            class="input"
            placeholder="Contraseña"
            id="userPassword"
            name="password"
          />
        </div>

        <div class="input-group">
          <input
            type="password"
            class="input"
            placeholder="Repetir contraseña"
            id="userConfirmPassword"
          />
        </div>

        <div class="checkbox-group">
          <input type="checkbox" class="checkbox" id="terms" />
          <label for="terms" class="checkbox-label">
            Acepto los <a href="#">Términos y Condiciones</a>
          </label>
          <div class="error-message" id="termsError"></div>
        </div>

        <button type="submit" class="submit-button">Registrarse</button>

        <a href="./Login.html" class="login-link"
          >¿Ya tienes una cuenta? Inicia sesión</a
        >
      </form>
    </div>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const form = document.querySelector(".form");

      form.addEventListener("submit", async (event) => {
        event.preventDefault();

        const formData = new FormData(form);
        const data = {
          nombre: formData.get("nombre").trim(),
          apellido: formData.get("apellido").trim(),
          nickname: formData.get("nickname").trim(),
          email: formData.get("email").trim(),
          password: formData.get("password"),
          confirmPassword: document.getElementById("userConfirmPassword").value,
          termsAccepted: document.getElementById("terms").checked,
        };
        console.log(data);

        let isValid = validateForm(data);
        if (!isValid) return;

        try {
          const response = await fetch(
            "http://localhost:3000/api/auth/register",
            {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({
                nombre: data.nombre,
                apellido: data.apellido,
                nickname: data.nickname,
                email: data.email,
                password: data.password,
              }),
            }
          );

          const result = await response.json();

          if (response.ok) {
            alert("Usuario registrado exitosamente");
            //form.reset();
            window.location.href = "/public/view/Login.html"; // EVALUAR
          } else {
            alert("Error: " + result.error);
          }
        } catch (error) {
          alert("Error en la conexión con el servidor");
        }
      });
    });

    function validateForm(data) {
      let isValid = true;

      isValid &= toggleError("userNombre", data.nombre !== "");
      isValid &= toggleError("userApellido", data.apellido !== "");
      isValid &= toggleError("userNickname", data.nickname !== "");
      isValid &= toggleError("userEmail", isValidEmail(data.email));
      isValid &= toggleError("userPassword", data.password.length >= 8);
      isValid &= toggleError(
        "userConfirmPassword",
        data.password === data.confirmPassword
      );
      isValid &= toggleError("terms", data.termsAccepted);

      return !!isValid;
    }

    function toggleError(inputId, condition) {
      const inputElement = document.getElementById(inputId);
      if (condition) {
        inputElement.classList.remove("error");
        return true;
      } else {
        inputElement.classList.add("error");
        return false;
      }
    }

    function isValidEmail(email) {
      return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
    }
  </script>
</html>
